// bower:scss
// endbower


#map {
  width: 300px;
  height: 300px;
  figure {
    margin: 0;
    padding: 0;
  }
  a {
    display: block;
    &:link,
    &:visited {
      text-decoration: none;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  p {
    width:120px;
    font-size: 10px;
    margin: 0;
    padding: 0;
  }
}
