// bower:scss
// endbower

#MAP_JAPAN {
  width: 100%;
  height: 480px;
}
#MAP_GLOBAL {
  width: 100%;
  height: 300px;
}
@media screen and ( max-width:768px )
{
  #MAP_JAPAN {
    height: 300px;
  }
  #MAP_GLOBAL {
    height: 200px;
  }
}
#MAP_JAPAN,
#MAP_GLOBAL {
  figure {
    margin: 0 !important;
    padding: 0 !important;
    position: relative !important;
    figcaption {
      position: absolute !important;
      bottom: 5px !important;
      right: 5px !important;
      color: white !important;
      text-align: right !important;
      text-shadow: 0 0 2px #000 !important;
    }
  }
  a {
    display: block !important;
    &:link,
    &:visited {
      text-decoration: none !important;
    }
    &:hover {
      text-decoration: underline !important;
    }
  }
  p {
    width:120px !important;
    font-size: 10px !important;
    line-height: 1.5 !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}
